<div class="card task">
  <div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-row">
      <ToggleDone @onSelect={{this.toggleTaskStatus}} @task={{@task}} checked={{@task.isComplete}}/>

      <div class="task-details d-flex flex-column">
        <p class="task-title">
          {{@task.name}}
        </p>
        <p class="task-description">
          {{@task.description}}
        </p>
      </div>
    </div>
    <div class="d-flex flex-row task-action">

      <div class="pin-task-btn" {{on "click" (fn this.togglePinStatus @task)}}  role="button"></div>

      {{#if @task.isComplete}}
        <div class="task-completed"  {{on "click" (fn this.toggleTaskStatus @task)}}  role="button">Undo</div>
      {{else}}
        <div class="complete-task-btn"  {{on "click" (fn this.toggleTaskStatus @task)}}  role="button">Done</div>

      {{/if}}
    </div>
  </div>
</div>
